section .product {
    margin-top: 0;
}
.product-list {
    background-color: #FFFFFF;
    padding: 20px;
    width: 393px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.product-list .category-product {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 8px;
}

.product-list .name-product {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.product-list .short-info small {
    font-size: 10px;
}


.partner {
    margin-top: 100px;
    margin-bottom: 100px;
}