<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/utilities.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>PT. Asuransi Jasa Tania</title>
</head>

<body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark py-40 fixed-top navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/jastan.png" height="40" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-lg gap-lg-0 gap-2">
                    <li class="nav-item my-auto">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item my-auto">
                        <div>
                            <a class="dropdown-toggle ms-lg-40 nav-link active" ref="#" role="button"
                                id="dropdownAboutLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Tentang Kami
                            </a>

                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownAboutLink">
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Riwayat Perseroan</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Manajemen Perseroan</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Penghargaan</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Karir</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item my-auto">
                        <div>
                            <a class="dropdown-toggle ms-lg-40 nav-link" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Bisnis
                            </a>

                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Produk Standar</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Produk Pengembangan</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Jalur Distribusi</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Agen Rekan </a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item my-auto">
                        <div>
                            <a class="dropdown-toggle ms-lg-40 nav-link" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Investor
                            </a>

                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Laporan Tahunan</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Laporan Keuangn</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Lembaga / Profesi
                                        Penunjang <br> Pasar Modal</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item my-auto">
                        <!-- <li class="nav-item my-auto me-lg-20"> -->
                        <div>
                            <a class="dropdown-toggle ms-lg-40 nav-link" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Media
                            </a>

                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Berita</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Pengumumman</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Galeri</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Keterbukaan Informasi</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Artikel</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- banner -->
    <section class="header">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/about-us.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </section>

    <!-- short about -->
    <section class="short-info-about ">
        <div class="container">
            <p class="about-text color-palette-6">
                Dalam kiprahnya selama lebih dari 40 tahun, Perseroan menyadari akan perubahan bisnis yang kian
                berkembang. Oleh karenanya Perseroan memantapkan langkahnya untuk mengembangkan pasar retail dan jalur
                distribusi online. <br><br>

                Dalam rangka menunjang pemasaran secara online, pada akhir tahun 2020 perseroan mengembangkan mobile
                application dengan nama “JASTAN APPS” untuk memudahkan masyarakat mengakses produk dan jasa layanan
                Perseroan. <br><br>

                Perseroan senantiasa berupaya meningkatkan standar keamanan informasi dan kualitas layanan kepada
                customer secara terpadu, mudah, cepat, tepat, dan proaktif dengan melakukan inovasi dan peningkatan yang
                berkesinambungan. <br><br>

                Pada tahun 2020 Perseroan meraih sertifikasi Sistem Manajemen Keamanan Informasi dalam Layanan Asuransi
                Perjalanan Berbasis Aplikasi Mobile ISO/IEC 27001:2013, untuk melengkapi sertifikasi Sistem Manajemen
                Mutu ISO 9001:2015 yang telah diraih pada periode sebelumnya.
            </p>
        </div>
    </section>


    



    <section class="the-teams">
        <div class="container ">
            
          
        <div class="dashboard-content">
            <ul class="nav nav-pills" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="Commissioner-tab"
                      data-toggle="tab"
                      href="#commissioner"
                      role="tab"
                      aria-controls="commissioner"
                      aria-selected="false"
                      >Commissioners</a
                    >
                  </li>


              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="director-tab"
                  data-toggle="tab"
                  href="#director"
                  role="tab"
                  aria-controls="director"
                  aria-selected="true"
                  >Directors</a>
              </li>

              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="Commissioner-tab"
                  data-toggle="tab"
                  href="#commissioner"
                  role="tab"
                  aria-controls="commissioner"
                  aria-selected="false"
                  >Committee</a
                >
              </li>

              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="Commissioner-tab"
                  data-toggle="tab"
                  href="#commissioner"
                  role="tab"
                  aria-controls="commissioner"
                  aria-selected="false"
                  >Corporate Secretary</a
                >
              </li>

            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="director"
                role="tabpanel"
                aria-labelledby="director-tab"
              >
             


              <div class="col-10">
                <div class="row d-flex justify-content-between">
                    <div class="profile-team-card">
                        <img src="../assets/img/megang.png" alt="">
                        <div class="title-profile">
                            <div class="profile-name">
                                Megang Kacaribu
                            </div>
                            <div class="title-position">
                                President Director
                            </div>
                            <p class="profile-about">
                                Bergabung dengan PT Asuransi Jasa Tania Tbk pada tahun 1984, Kepala Pemasaran Cabang Pekanbaru tahun 1995, Kepala Cabang Pekanbaru tahun 1998, Kepala Cabang Surabaya tahun 2004, Menjabat sebagai Direktur Pemasaran Perseroan periode 2015-2019, ditetapkan sebagai Direktur Utama Perseroan berdasarkan Keputusan Rapat Umum Pemegang Saham sejak tanggal 19 Juni 2019.
                            </p>
                        </div>
                    </div>
                    <div class="profile-team-card">
                        <img src="../assets/img/megang.png" alt="">
                        <div class="title-profile">
                            <div class="profile-name">
                                Megang Kacaribu
                            </div>
                            <div class="title-position">
                                President Director
                            </div>
                            <p class="profile-about">
                                Bergabung dengan PT Asuransi Jasa Tania Tbk pada tahun 1984, Kepala Pemasaran Cabang Pekanbaru tahun 1995, Kepala Cabang Pekanbaru tahun 1998, Kepala Cabang Surabaya tahun 2004, Menjabat sebagai Direktur Pemasaran Perseroan periode 2015-2019, ditetapkan sebagai Direktur Utama Perseroan berdasarkan Keputusan Rapat Umum Pemegang Saham sejak tanggal 19 Juni 2019.
                            </p>
                        </div>
                    </div>
                    <div class="profile-team-card">
                        <img src="../assets/img/megang.png" alt="">
                        <div class="title-profile">
                            <div class="profile-name">
                                Megang Kacaribu
                            </div>
                            <div class="title-position">
                                President Director
                            </div>
                            <p class="profile-about">
                                Bergabung dengan PT Asuransi Jasa Tania Tbk pada tahun 1984, Kepala Pemasaran Cabang Pekanbaru tahun 1995, Kepala Cabang Pekanbaru tahun 1998, Kepala Cabang Surabaya tahun 2004, Menjabat sebagai Direktur Pemasaran Perseroan periode 2015-2019, ditetapkan sebagai Direktur Utama Perseroan berdasarkan Keputusan Rapat Umum Pemegang Saham sejak tanggal 19 Juni 2019.
                            </p>
                        </div>
                    </div>
                    <div class="profile-team-card">
                        <img src="../assets/img/megang.png" alt="">
                        <div class="title-profile">
                            <div class="profile-name">
                                Megang Kacaribu
                            </div>
                            <div class="title-position">
                                President Director
                            </div>
                            <p class="profile-about">
                                Bergabung dengan PT Asuransi Jasa Tania Tbk pada tahun 1984, Kepala Pemasaran Cabang Pekanbaru tahun 1995, Kepala Cabang Pekanbaru tahun 1998, Kepala Cabang Surabaya tahun 2004, Menjabat sebagai Direktur Pemasaran Perseroan periode 2015-2019, ditetapkan sebagai Direktur Utama Perseroan berdasarkan Keputusan Rapat Umum Pemegang Saham sejak tanggal 19 Juni 2019.
                            </p>
                        </div>
                    </div>
                </div>
                </div>


              </div>
              <!-- section commissioner -->
              <div
                class="tab-pane fade"
                id="commissioner"
                role="tabpanel"
                aria-labelledby="Commissioner-tab"
              >
                <div class="row mt-3">
                  <div class="col-12 mt-2">
                    <a
                      class="card card-list d-block"
                      href="/dashboard-transactions-details.html"
                    >
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-1">
                            <img
                              src="/images/dashboard-icon-product-1.png"
                              alt=""
                            />
                          </div>
                          <div class="col-md-4">
                            Shirup Marzzan
                          </div>
                          <div class="col-md-3">
                            Angga Risky
                          </div>
                          <div class="col-md-3">
                            12 Januari, 2020
                          </div>
                          <div class="col-md-1 d-none d-md-block">
                            <img
                              src="/images/dashboard-arrow-right.svg"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
    </section>


        <!-- register now -->
        <section class="register bg-color-1 ">
            <div class="container ">
                <div class="row pb-70 d-flex align-items-center ">
                    
                    <div class="col">
                        <div class="row">
                            
                                <div class="title-banner">
                                    Our Vision
                                </div>
                                <p class="info-banner color-palette-3">
                                    Menjadi perusahaan yang tangguh dan terpercaya dalam memberikan perlindungan asuransi serta berperan aktif dalam pengembangan Industri Asuransi Nasional.
                                </p>

                                <div class="title-banner">
                                    Our Mission
                                </div>
                                <p class="info-banner color-palette-3">
                                    1. Memenuhi kebutuhan pelanggan secara efektif dan inovatif. <br>
                                    2. Meningkatkan kompetensi dan produktifitas karyawan <br>
                                    3. Menjadikan perusahaan sebagai Badan Usaha yang membanggakan dan menguntungkan bagi stakeholder <br>
                                </p>
                                <div class="title-banner">
                                    Corporate Culture
                                </div>
                                <p class="info-banner color-palette-3">
                                    Integrity, Competent, Active, Responsible, Effective & Efficient
                                </p>
                            
                        </div>
                    </div>
                    <div class="col ">
                        <img src="../assets/img/vision.png" alt=""  class="img-fluid">
                    </div>
                </div>
            </div>
        </section>


        <section class="our-history">
            <div class="container">
                <div class="container">
                    <h2 class="text-4xl fw-bold color-palette-1  mb-30">A brief history of PT. Jasa Tania</h2>
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                      <!-- Accordion -->
                      <div id="accordionExample" class="accordion ">
                
                        <!-- Accordion item 1 -->
                        <div class="card">
                          <div id="headingOne" class="card-header bg-white ">
                            <h6 class="mb-0 font-weight-bold">        
                                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative color-palette-6 decade-title text-uppercase collapsible-link py-2">
                                Dekade 2020
                            </a>
                        </h6>
                          </div>
                          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                            <div class="card-body p-5">
                              <p class="font-weight-light m-0">
                                Dalam kiprahnya selama lebih dari 40 tahun, Perseroan menyadari akan perubahan bisnis yang kian berkembang. Oleh karenanya Perseroan memantapkan langkahnya untuk mengembangkan pasar retail dan jalur distribusi online.

                                Dalam rangka menunjang pemasaran secara online, pada akhir tahun 2020 perseroan mengembangkan mobile application dengan nama “JASTAN APPS” untuk memudahkan masyarakat mengakses produk dan jasa layanan Perseroan.

                                Perseroan senantiasa berupaya meningkatkan standar keamanan informasi dan kualitas layanan kepada customer secara terpadu, mudah, cepat, tepat, dan proaktif dengan melakukan inovasi dan peningkatan yang berkesinambungan.

                                Pada tahun 2020 Perseroan meraih sertifikasi Sistem Manajemen Keamanan Informasi dalam Layanan Asuransi Perjalanan Berbasis Aplikasi Mobile ISO/IEC 27001:2013, untuk melengkapi sertifikasi Sistem Manajemen Mutu ISO 9001:2015 yang telah diraih pada periode sebelumnya.

                              </p>
                            </div>
                          </div>
                        </div>
                
                        <!-- Accordion item 2 -->
                        
                          <div id="headingTwo" class="card-header  bg-white">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed decade-title color-palette-6 text-uppercase collapsible-link py-2">Decade 2010</a></h6>
                          </div>
                          <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                            <div class="card-body p-5">
                              <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                          </div>
                        
                
                        <!-- Accordion item 3 -->
                        
                          <div id="headingThree" class="card-header bg-white ">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed decade-title color-palette-6 text-uppercase collapsible-link py-2">Decade 2000</a></h6>
                          </div>
                          <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                            <div class="card-body p-5">
                              <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                          </div>

                            <!-- Accordion item 4 -->

                            <div id="headingFour" class="card-header bg-white ">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-block position-relative collapsed decade-title color-palette-6 text-uppercase collapsible-link py-2">Decade 1990</a></h6>
                            </div>
                            <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse">
                            <div class="card-body p-5">
                                <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                            </div>

                            <!-- Accordion item 5 -->

                            <div id="headingFive" class="card-header bg-white ">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-block position-relative collapsed decade-title color-palette-6 text-uppercase collapsible-link py-2">Decade 1980</a></h6>
                            </div>
                            <div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample" class="collapse">
                            <div class="card-body p-5">
                                <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                            </div>
                        
                
                      </div>
                    </div>
                  </div>







            </div>
        </section>


        <section class="our-award">
            <div class="container">
                <div class="container">
                    <h2 class="text-4xl fw-bold color-palette-1  mb-30">Our Awards</h2>
                    <div class="container">
                        <div class="row">
                          <div
                            class="col-6 col-md-4 col-lg-3"
                            
                            
                          >
                            <a class="component-products d-block" href="/details.html">
                              <div class="products-thumbnail">
                                <div
                                  class="products-image"
                                  style="
                                    background-image: url('../assets/img/Indonesia-Top-50-Insurance-Awards-2022-The-Iconomics-29-Juni-2022-low.jpg ');
                                  "
                                ></div>
                              </div>
                              <div class="products-text">
                                The Iconomics
                              </div>
                              <div class="products-price">
                                Indonesia TOP 50 Insurance Awards 2022
                                Performing in Asset < 1 Trillion
                                General Insurance Category
                              </div>
                            </a>
                          </div>
                          <div
                            class="col-6 col-md-4 col-lg-3"
                            
                            
                          >
                            <a class="component-products d-block" href="/details.html">
                              <div class="products-thumbnail">
                                <div
                                  class="products-image"
                                  style="
                                    background-image: url('../assets/img/SERTIFIKAT\ ISO\ 9001\ 2015.jpg');
                                  "
                                ></div>
                              </div>
                              <div class="products-text">
                                Sertifikat Manajemen Mutu
                              </div>
                              <div class="products-price">
                                ISO 9001 2015
                                Badan Sertifikasi SGS
                              </div>
                            </a>
                          </div>
                          <div
                            class="col-6 col-md-4 col-lg-3"
                            
                            
                          >
                            <a class="component-products d-block" href="/details.html">
                              <div class="products-thumbnail">
                                <div
                                  class="products-image"
                                  style="
                                    background-image: url('../assets/img/ISO\ 27001_001\ -\ SMKI.jpg');
                                  "
                                ></div>
                              </div>
                              <div class="products-text">
                                Sertifikat Manajemen Keamanan Informasi dalam Layanan Asuransi Perjalanan berbasis Aplikasi Mobile
                              </div>
                              <div class="products-price">
                                ISO/IEC 27001 : 2013
                                Badan Sertifikasi Tuv Nord Indonesia
                              </div>
                            </a>
                          </div>
                          </div>

            </div>
        </section>


    <!-- Footer -->
    <section class="footer pt-50">
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 text-lg-start text-center">
                        <a class="navbar-brand" href="#">
                            <img src="../assets/img/jastan 3.png" height="40" alt="">
                        </a>
                        <p class="mt-30 text-lg color-palette-3 mb-30">StoreGG membantu gamers<br> untuk menjadi
                            pemenang sejati</p>
                        <p class="mt-30 text-lg color-palette-3 mb-30">Copyright 2021. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-8 mt-lg-0 mt-20">
                        <div class="row gap-sm-0">
                            <div class="col-md-4 col-6 mb-lg-0 mb-25">
                                <p class="text-lg fw-semibold color-palette-3 mb-12">Company</p>
                                <ul class="list-unstyled">
                                    <li class="mb-6">
                                        <a href="" class="text-lg color-palette-3 text-decoration-none">About Us</a>
                                    </li>
                                    <li class="mb-6">
                                        <a href="" class="text-lg color-palette-3 text-decoration-none">Press
                                            Release</a>
                                    </li>
                                    <li class="mb-6">
                                        <a href="" class="text-lg color-palette-3 text-decoration-none">Terms of Use</a>
                                    </li>
                                    <li class="mb-6">
                                        <a href="" class="text-lg color-palette-3 text-decoration-none">Privacy &
                                            Policy</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-6 mb-lg-0 mb-25">
                                <p class="text-lg fw-semibold color-palette-3 mb-12">Support</p>
                                <ul class="list-unstyled">
                                    <li class="mb-6">
                                        <a href="" class="text-lg color-palette-3 text-decoration-none">Refund
                                            Policy</a>
                                    </li>
                                    <li class="mb-6">
                                        <a href="" class="text-lg color-palette-3 text-decoration-none">Unlock
                                            Rewards</a>
                                    </li>
                                    <li class="mb-6">
                                        <a href="" class="text-lg color-palette-3 text-decoration-none">Live
                                            Chatting</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-12 mt-lg-0 mt-md-0 mt-25">
                                <p class="text-lg fw-semibold color-palette-3 mb-12">Connect</p>
                                <ul class="list-unstyled">
                                    <li class="mb-6">
                                        <a href="mailto: hi@store.gg"
                                            class="text-lg color-palette-3 text-decoration-none">hi@store.gg</a>
                                    </li>
                                    <li class="mb-6">
                                        <a href="mailto: team@store.gg"
                                            class="text-lg color-palette-3 text-decoration-none">team@store.gg</a>
                                    </li>
                                    <li class="mb-6">
                                        <a href="http://maps.google.com/?q=Pasific 12,
                                            Jakarta Selatan"
                                            class="text-lg color-palette-3 text-decoration-none">Pasific
                                            12,
                                            Jakarta Selatan</a>
                                    </li>
                                    <li class="mb-6">
                                        <a href="tel: 02111229090"
                                            class="text-lg color-palette-3 text-decoration-none">021 - 1122 -
                                            9090</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>


    <script src="../vendor/jquery/jquery.slim.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>

</body>

</html>