<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
     <link rel="stylesheet" href="../css/standard.css">
    <link rel="stylesheet" href="../css/utilities.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>PT. Asuransi Jasa Tania</title>
</head>

<body>
    <!-- Navbar -->
    
        <nav class="navbar navbar-expand-lg navbar-dark py-40 fixed-top navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="../assets/img/jastan.png"  height="40" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto text-lg gap-lg-0 gap-2">
                        <li class="nav-item my-auto">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item my-auto">
                          <div>
                            <a class="dropdown-toggle ms-lg-40 nav-link" href="#" role="button" id="dropdownAboutLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Tentang Kami
                            </a>

                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownAboutLink">
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Riwayat Perseroan</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Manajemen Perseroan</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Penghargaan</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Karir</a></li>
                            </ul>
                        </div>
                        </li>
                        <li class="nav-item my-auto">
                          <div>
                            <a class="dropdown-toggle ms-lg-40 active nav-link" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Bisnis
                            </a>

                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Produk Standar</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Produk Pengembangan</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Jalur Distribusi</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Agen Rekan </a></li>
                            </ul>
                        </div>
                        </li>

                        <li class="nav-item my-auto">
                          <div>
                            <a class="dropdown-toggle ms-lg-40 nav-link" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Investor
                            </a>

                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Laporan Tahunan</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Laporan Keuangn</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Lembaga / Profesi Penunjang <br> Pasar Modal</a>
                                </li>
                            </ul>
                        </div>
                        </li>
                        <li class="nav-item my-auto">
                        <!-- <li class="nav-item my-auto me-lg-20"> -->
                          <div>
                            <a class="dropdown-toggle ms-lg-40 nav-link" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Media
                            </a>

                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Berita</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Pengumumman</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Galeri</a>
                                </li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Keterbukaan Informasi</a></li>
                                <li><a class="dropdown-item text-lg color-palette-2" href="#">Artikel</a></li>
                            </ul>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    
    <!-- banner -->
    <section class="header">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/img/Summary.png" class="d-block w-100" alt="...">
              </div>
            </div>
    </section>


    <!-- product -->

    <section class="product bg-card-section">
        <div class="container">
            <div class="col-12 mt-4" >
                <h2 class="text-4xl fw-bold color-palette-1 main-menu text-left mb-30">Product Standard
                </h2>
            </div>
            <div class="row">
                <div class="col-4 product-list">
                        <div class="img-product">
                            <img src="../assets/img/p-standard-1.png" alt="hospital" srcset="">
                        </div>
                        <div class="category-product">Standard</div>
                        <div class="name-product color-palette-1">Asuransi Hospital Liability</div>
                        <div class="short-info">
                            <small>
                                Asuransi Tanggung Gugat Pelayanan Kesehatan Rumah Sakit memberikan perlindungan finansial atas kerugian yang ditimbulkan akibat adanya tuntutan tanggung jawab hukum dari pasien, atas tindakan kelalaian medik oleh tenaga medis dan tenaga kesehatan Rumah Sakit.
                            </small>
                        </div>
                        <p>
                            <a href="/" class="btn btn-master btn-primary w-100 mt-3">
                                Take This Plan
                            </a>
                        </p>
                </div>
                <div class="col-4 product-list">
                        <div class="img-product">
                            <img src="../assets/img/p-standard-2.png" alt="peyimpanan-uang" srcset="">
                        </div>
                        <div class="category-product">Standard</div>
                        <div class="name-product color-palette-1">Asuransi Penyimpanan Uang</div>
                        <div class="short-info">
                            <small>
                                Tentang Produk Standar Asuransi Penyimpanan Uang Indonesia (PSAPUI) Pertanggungan yang memberikan proteksi atas kehilangan uang selama uang disimpan di dalam brankas atau tempat yang sesuai dengan ketentuan polis.
                            </small>
                        </div>
                        <p>
                            <a href="/" class="btn btn-master btn-primary w-100 mt-3">
                                Take This Plan
                            </a>
                        </p>
                </div>
                <div class="col-4 product-list">
                        <div class="img-product">
                            <img src="../assets/img/p-standard-3.png" alt="Konstruksi srcset="">
                        </div>
                        <div class="category-product">Standard</div>
                        <div class="name-product color-palette-1">Asuransi Proyek Konstruksi</div>
                        <div class="short-info">
                            <small>
                                Polis yang memberikan Pertanggungan yang memberikan proteksi atas kerugian dan atau kerusakan fisik pada suatu proyek pembangunan (baik itu pekerjaan sipil kering maupun pekerjaan sipil basah), serta kerugian yang dialami pihak ketiga akibat dari kerugian dan atau kerusakan fisik pada proyek tersebut.
                            </small>
                        </div>
                        <p>
                            <a href="/" class="btn btn-master btn-primary w-100 mt-3">
                                Take This Plan
                            </a>
                        </p>
                </div>
                <div class="col-4 product-list">
                    <div class="img-product">
                        <img src="../assets/img/p-standard-4.png" alt="angkut-barang" srcset="">
                    </div>
                    <div class="category-product">Standard</div>
                    <div class="name-product color-palette-1">Asuransi Pengangkutan Barang</div>
                    <div class="short-info">
                        <small>
                            Asuransi Pengangkutan Barang untuk lini usaha Pengangkutan, baik untuk muatan yang melalui jalur air maupun darat. Produk ini memberikan 3 pilihan jaminan, yaitu Jaminan Satu, Jaminan Dua, dan Jaminan Tiga.
                        </small>
                    </div>
                    <p>
                        <a href="/" class="btn btn-master btn-primary w-100 mt-3">
                            Take This Plan
                        </a>
                    </p>
            </div>
                <div class="col-4 product-list">
                    <div class="img-product">
                        <img src="../assets/img/p-standard-4.png" alt="angkut-barang" srcset="">
                    </div>
                    <div class="category-product">Standard</div>
                    <div class="name-product color-palette-1">Asuransi Pengangkutan Barang</div>
                    <div class="short-info">
                        <small>
                            Asuransi Pengangkutan Barang untuk lini usaha Pengangkutan, baik untuk muatan yang melalui jalur air maupun darat. Produk ini memberikan 3 pilihan jaminan, yaitu Jaminan Satu, Jaminan Dua, dan Jaminan Tiga.
                        </small>
                    </div>
                    <p>
                        <a href="/" class="btn btn-master btn-primary w-100 mt-3">
                            Take This Plan
                        </a>
                    </p>
            </div>
                <div class="col-4 product-list">
                    <div class="img-product">
                        <img src="../assets/img/p-standard-4.png" alt="angkut-barang" srcset="">
                    </div>
                    <div class="category-product">Standard</div>
                    <div class="name-product color-palette-1">Asuransi Pengangkutan Barang</div>
                    <div class="short-info">
                        <small>
                            Asuransi Pengangkutan Barang untuk lini usaha Pengangkutan, baik untuk muatan yang melalui jalur air maupun darat. Produk ini memberikan 3 pilihan jaminan, yaitu Jaminan Satu, Jaminan Dua, dan Jaminan Tiga.
                        </small>
                    </div>
                    <p>
                        <a href="/" class="btn btn-master btn-primary w-100 mt-3">
                            Take This Plan
                        </a>
                    </p>
            </div>
            </div>
        </div>
    </section>


    <section class="partner">
        <div class="container">
        <div class="row pb-70">
            <h2 class="text-4xl fw-bold color-palette-1 text-center mb-30 main-menu ">Award dan Recognitions
            </h2>

            <div class="col-lg-12 col-12 text-center mt-3">
                <div class="row">
                    <div class="col">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/img/ojk.png" height="50" class="partner-logo" alt="" sizes="" srcset="" >
                        </a>
                    </div>
                    <div class="col">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/img/sgs-jastan.webp" height="50" class="partner-logo" alt="" sizes="" srcset="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/img/mari.png" height="50" class="partner-logo" alt="" sizes="" srcset="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/img/aaui.png" height="50" class="partner-logo" alt="" sizes="" srcset="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/img/logo-ISO-27001-2013.webp" height="50" class="partner-logo" alt="" sizes="" srcset="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


         <!-- Footer -->
         <section class="footer pt-50">
            <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 text-lg-start text-center">
                            <a class="navbar-brand" href="#">
                                <img src="../assets/img/jastan 3.png"  height="40" alt="">
                              </a>
                            <p class="mt-30 text-lg color-palette-3 mb-30">StoreGG membantu gamers<br> untuk menjadi
                                pemenang sejati</p>
                            <p class="mt-30 text-lg color-palette-3 mb-30">Copyright 2021. All Rights Reserved.</p>
                        </div>
                        <div class="col-lg-8 mt-lg-0 mt-20">
                            <div class="row gap-sm-0">
                                <div class="col-md-4 col-6 mb-lg-0 mb-25">
                                    <p class="text-lg fw-semibold color-palette-3 mb-12">Company</p>
                                    <ul class="list-unstyled">
                                        <li class="mb-6">
                                            <a href="" class="text-lg color-palette-3 text-decoration-none">About Us</a>
                                        </li>
                                        <li class="mb-6">
                                            <a href="" class="text-lg color-palette-3 text-decoration-none">Press
                                                Release</a>
                                        </li>
                                        <li class="mb-6">
                                            <a href="" class="text-lg color-palette-3 text-decoration-none">Terms of Use</a>
                                        </li>
                                        <li class="mb-6">
                                            <a href="" class="text-lg color-palette-3 text-decoration-none">Privacy &
                                                Policy</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-6 mb-lg-0 mb-25">
                                    <p class="text-lg fw-semibold color-palette-3 mb-12">Support</p>
                                    <ul class="list-unstyled">
                                        <li class="mb-6">
                                            <a href="" class="text-lg color-palette-3 text-decoration-none">Refund
                                                Policy</a>
                                        </li>
                                        <li class="mb-6">
                                            <a href="" class="text-lg color-palette-3 text-decoration-none">Unlock
                                                Rewards</a>
                                        </li>
                                        <li class="mb-6">
                                            <a href="" class="text-lg color-palette-3 text-decoration-none">Live
                                                Chatting</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-12 mt-lg-0 mt-md-0 mt-25">
                                    <p class="text-lg fw-semibold color-palette-3 mb-12">Connect</p>
                                    <ul class="list-unstyled">
                                        <li class="mb-6">
                                            <a href="mailto: hi@store.gg"
                                                class="text-lg color-palette-3 text-decoration-none">hi@store.gg</a>
                                        </li>
                                        <li class="mb-6">
                                            <a href="mailto: team@store.gg"
                                                class="text-lg color-palette-3 text-decoration-none">team@store.gg</a>
                                        </li>
                                        <li class="mb-6">
                                            <a href="http://maps.google.com/?q=Pasific 12,
                                            Jakarta Selatan" class="text-lg color-palette-3 text-decoration-none">Pasific
                                                12,
                                                Jakarta Selatan</a>
                                        </li>
                                        <li class="mb-6">
                                            <a href="tel: 02111229090"
                                                class="text-lg color-palette-3 text-decoration-none">021 - 1122 -
                                                9090</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
    
    
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script>
            $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar-fixed-top");
                    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                });
            });
        </script>
    
    </body>
    
    </html>